h1.text {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-size: 4rem;
  font-style: normal;
}

h2.text {
  font-size: 45px;
}

.text {
  font-family: "Underdog", system-ui;
  text-align: center;
  font-size: 1rem;
  margin-left: 15px;
  color: white;
}

.text_holder {
  display: flex;
  justify-content: center;
  width: 8rem;
  margin-inline: 2%;
}

.highlights {
  color:blueviolet;
}

p.text.title {
  color: orange;
  font-size: 1.5rem;
}

.maincard {
  width: 80%;
  height: 100vh;
  background-image: linear-gradient(black,#161617,#490455,#af74c4, #808080);
}

.paper {
  background-color: lightgray;
  height: 5rem;
}

.holder {
  display: flex;
  justify-content: center;
}

.icon {
  height: 70%;
}

.icon.bottle {
  height: 70%;
  transform: rotate(45deg);
}

.icon_balls {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #9867c5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 2%;
}

#background {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px){

  p.text.title {
    color: orange;
    font-size: 1.2rem;
  }

  .text {
    text-align: center;
    font-size: 0.7rem;
    margin-left: 15px;
    color: white;
  }

  .text_holder {
    display: flex;
    justify-content: center;
    width: 6rem;
    margin-inline: 2%;
  }

  .icon_balls {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #9867c5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 2%;
  }
}